.App {
  text-align: center;
  font-family: "Single";
}

@font-face {
  font-family: "Single";
  src: url("SingleDay-Regular.ttf")
}

.header a {
  text-decoration: none;
  color: lightgray;
  margin-left: 20px;
}

.header a:hover {
  font-weight: bold;
}

.header span {
  margin-left: 20px;
}

.ellipsis {
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box; 
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
}




